body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fc;
}
.App {
  height: 100vh;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.story-node {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 200px;
  border: 1px solid #d8d8da;
  padding: 10px;
  border-radius: 5px;
  background: white;
}

.node-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    text-align: center;
}

.node-title {
  font-weight: bold;
  display: block;
  color: black;
}

.node-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 3em;
  line-height: 1.2em;
  font-size: 0.8rem;
}
